@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
$font-face: 'Roboto', sans-serif;
// colors
$dark:  #333030;
$ocean:  #2b90d9;
$grass: #3ac569;
$snow: #FFFFFF;
$salmon: #ff7473;
$sun: #feee7d;
$alge: #79a8a9;
$flower: #353866;


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px auto;
}

// button styles
.button {
  border: 0 none;
  border-radius: 0px;

  padding: 12px 18px;
  margin: 10px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 0 0 160px;

  text-align: center;
  line-height: 1.3;
  font-size: 14px;
  color: #fff;
  text-transform: none;

  font-weight: 500;

  transition: all 60ms ease-in-out;

  &:hover {
    opacity: .95;
    transition: all 60ms ease;
  }

  &:active {
    opacity: .75;
    transform: scale(.97);
    transition: all 60ms ease;
  }
}

.button.-dark {
  background: $dark;
  color: $snow;
}
.button.-white {
  background:$snow;
  color: $dark;
}

.button.-green {
  background: $grass;
  color: $snow;
}

.button.-blue {
  background: $ocean;
  color: $snow;
}

.button.-salmon {
  background: $salmon;
  color: $snow;
}

.button.-sun {
  background: $sun;
  color: #f15c5c;
}

.button.-alge {
  background: $alge;
  color: #f4f7f7;
}

.button.-flower {
  background: $flower;
  color: #FE8CDF;
}

.button.-border {
  background: transparent;
  border: 2px solid $ocean;
  color: $ocean;

  &:hover, &.-active {
    background: $ocean;
    border-color: $ocean;
    color: $snow;
  }
}

  //
  //
  // <div class='button -green center'>@@@@</div>
  //
  // <div class='button -blue center'>@@@@</div>
  //
  // <div class='button -border center'>@@@@</div>
  //
  // <div class='button -salmon center'>@@@@</div>
  //
  // <div class='button -sun center'>@@@@</div>
  //
  // <div class='button -alge center'>@@@@</div>
  //
  // <div class='button -flower center'>@@@@</div>
