@charset "utf-8";
@import "normalize";
@import "custom-buttons";
@import "typography"; //
// force vertical scrollbar, prevent Packery gap
html {
  overflow-y: scroll;
}
img {
  max-width: 114%;
  /* width: 280px; */
  margin-left: -7%;
}
.blogdate {
  margin-bottom: 12px;
  background-color: #262626;
  padding: 10px;
  width: 107%;
  margin-left: -7%;
  margin-top: -20px;
  color: #fff;
  font-size: 16px;
  /* padding-left: 18px; */
  text-align: right;
}
a {
  pointer-events: all;
}
.img-circle {
  // border-radius: 50%;
  display: block;
  // margin: 0 auto;
  width: 200px;
}
.box {
  margin: 100px auto 0;
  width: 768px;
  pointer-events: none;
}
// a {text-decoration: none;}
.welcome .logo {
    height: 24em;
    margin-top: 7em;
    pointer-events: all;
    margin-bottom: 2em;
}

.logo img {
  height: 18.75em;
  margin-top: 12em;
}
.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: 4s;
  position: relative;
  z-index: 1;
}
@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  70% {
    -webkit-transform: scale(0.7);
    opacity: 0.7;
  }
  82.5% {
    -webkit-transform: scale(1.10);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
.slogan {
  animation: slogan 4600ms ease-out;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  z-index: 10;
}
@-webkit-keyframes slogan {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.readit {
  text-decoration: none;
  animation: readit 6200ms ease;
  color: white;
}
@-webkit-keyframes readit {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.blog {
  z-index: 10;
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
}

// .pt-page-1 {
// 	background: #0ac2d2;
// }
//
// .pt-page-2 {
// 	background: #7bb7fa;
// }
//
// .pt-page-3 {
// 	background: #60d7a9;
// }
//
// .pt-page-4 {
// 	background: #fdc162;
// }
//
// .pt-page-5 {
// 	background: #fd6a62;
// }
//
// .pt-page-6 {
// 	background: #f68dbb;
// }
//
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.tags li {
  float: left;
}
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.tag:hover {
  background-color: crimson;
  color: white;
}
.tag:hover::after {
  border-left-color: crimson;
}
#cloud a.tag1 {
  font-size: 0.7em;
  font-weight: 100;
}
#cloud a.tag2 {
  font-size: 0.8em;
  font-weight: 200;
}
#cloud a.tag3 {
  font-size: 0.9em;
  font-weight: 300;
}
#cloud a.tag4 {
  font-size: 1.0em;
  font-weight: 400;
}
#cloud a.tag5 {
  font-size: 1.2em;
  font-weight: 500;
}
#cloud a.tag6 {
  font-size: 1.4em;
  font-weight: 600;
}
#cloud a.tag7 {
  font-size: 1.6em;
  font-weight: 700;
}
#cloud a.tag8 {
  font-size: 1.8em;
  font-weight: 800;
}
#cloud a.tag9 {
  font-size: 2.2em;
  font-weight: 900;
}
#cloud a.tag10 {
  font-size: 2.5em;
  font-weight: 900;
}
#cloud {
  padding: 2px;
  line-height: 3em;
  text-align: center;
}
#cloud a {
  padding: 0;
}
#cloud {
  margin: 0;
}
#cloud li {
  display: inline;
}
#cloud li a {
  text-decoration: none;
  color: #DB0058;
  font-family: Arial;
  font-weight: bold;
  transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
}
#cloud li a:hover {
  color: #0B61A4;
  opacity: 1;
}
#cloud {
  list-style: none;
  width: 100%;
  padding: 0;
  z-index: 10;
}
#cloud li {
  float: left;
  margin: 1px 10px;
  font-size: 14px;
  min-height: 35px;
  line-height: 30px;
}
#cloud:hover li a {
  opacity: 0.3;
}
#overlay {
  position: fixed;
  z-index: 99;
  top: -1000%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition: top 0s ease 0.35s, opacity 0.35s ease;
  -moz-transition: top 0s ease 0.35s, opacity 0.35s ease;
  transition: top 0s ease 0.35s, opacity 0.35s ease;
}
.loading #preloader {
  display: block;
}
.loading .wrapper {
  opacity: 0;
  visibility: hidden;
}
#preloader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}
#preloader .preload-text {
  display: none;
}
#preloader .preload-icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  padding: 0;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -35px;
}
#preloader .preload-icon span {
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: #000000;
  -webkit-animation: preloader 1.6s linear infinite;
  -moz-animation: preloader 1.6s linear infinite;
  animation: preloader 1.6s linear infinite;
}
#preloader .preload-icon span:last-child {
  -webkit-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
@-moz-keyframes preloader {
  0% {
    -moz-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1, 1);
    opacity: 0;
  }
}
@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
.toggle-stamp-button {
  pointer-events: all;
}
/* highlight drag & drop */
/* Draggabilly adds is-dragging */
/* Packery adds class while transitioning to drop position */
.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: rgba(68, 68, 68, 0.65);
  z-index: 2;
  /* keep dragged item on top */
}
.packery-drop-placeholder {
  outline: 8px dashed rgba(68, 68, 68, 0.65);
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.stamp3 {
  left: 0;
  top: 0;
  background-image: url('/images/GitHub-Mark-64px.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.stamp4 {
  left: 0;
  top: 0;
  background-image: url('/images/In-2C-66px-TM.png');
  background-repeat: no-repeat;
  background-position: center center;
}
#infscr-loading {
  position: absolute!important;
  width: 400px!important;
  height: 40px!important;
  bottom: 0;
  left: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0 5px 8px 0;
  border-radius: 20px;
  border: 2px solid #000;
  padding: 30px 10px 10px;
  margin-left: -210px;
  background-color: #fff;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive;
  /* transition: ease-out 4500ms 1000ms; */
  text-align: center;
  z-index: 200;
  font-size: 14px;
}
#infscr-loading:after {
  content: "";
  display: block;
  background-color: #fff;
  border: 2px solid #000;
  border-width: 0 2px 2px 0;
  width: 24px;
  height: 24px;
  border-top: 0;
  box-shadow: 4px 2px 0 0 rgba(0,0,0,.6);
  position: absolute;
  bottom: -15px;
  left: 190px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  z-index: 199;
}
.blogbutton {
  box-shadow: 0 2px 5px rgba(0,0,0,.6);
}
.buttonfix {
    padding-top: 80px;
    padding-bottom: 80px;
}
.blogbutton:hover + div#infscr {
  display: block !important;
}
.stamp6 {
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  height: 38;
}
.email {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 60;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: -11px;
  margin-left: -1px;
  font-weight: bold;
  color: #7BB7FA;
}
.grid-item {
  width: 280px;
  background-color: #fff;
  box-shadow: 0 2px 5px;
  padding: 20px;
}
.grid-item--achievments {
  width: 53px;
}
.grid-item-content {
  padding-bottom: 20px;
}
.box {
  background: #fff;
  padding: 25px;
  box-shadow: 0 2px 10px;
  z-index: 100;
  position: relative;
  margin-bottom: 40px !important;
  pointer-events: none;
}
.aboutme-img {
  width: 41.66667%;
  float: left;
  position: relative;
  min-height: 1px; // padding-left: 15px;
  // padding-right: 15px;
      padding-bottom: 5px;
}
.profile-photo img {
  width: 100%;
  display: block;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.aboutme-info {
  width: 58.33333%;
  float: left;
  position: relative;
  min-height: 1px; // padding-left: 15px;
  // padding-right: 15px;
}
.grid-item--aboutme {
  box-shadow: 0 2px 10px;
  padding: 57px 50px 90px;
  max-width: 900px;
  background-color: #fff;
  position: absolute;
}

.grid-item--aboutme .grid-item-content {

    padding-left: 28px;}
.profile-preword {
  margin-bottom: 28px;
}
.profile-preword span {
  background-color: #e86767;
}
.profile-preword span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}
.profile-preword span:before {
  border-left-color: #e86767;
}
.profile-preword span:before {
  content: '';
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  // border-color: transparent;
}
.profile-info {
  color: #3d4451;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
}
.profile-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 5px;
}
.profile-title span {
  font-weight: 300 !important;
}
.profile-position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
}
.profile-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile-list li {
  margin-bottom: 13px;
}
.clearfix {}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.profile-list .title {
  display: block;
  width: 120px;
  float: left;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.profile-list .cont {
  display: block;
  margin-left: 125px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #9da0a7;
}
.social {
  /* margin: 0 auto; */
  /* padding: 10px; */
  list-style: none;
  text-align: center;
  background-color: #CC0000;
  padding: 15px 0;
  width: 100%;
  height: 63px;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-top: 10px !important;
}
.social li {
  display: inline-block;
  margin: 5px 15px;
}
.social ul {
  margin: 15px auto 0 auto;
  padding: 0;
  list-style-type: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.social li a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.social li a {
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
  -moz-transition: -moz-transition, background-color 0.25s linear 0s;
  transition: transition, background-color 0.25s linear 0s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.78;
  font-size: 25px;
  color: #fff;
  margin-top: -10px;
  margin-left: 10px;
}
/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 320px) and (max-width: 480px) {

  /* Styles */
  .box {
    margin: 100px auto 0;
    width: 320px;
  }
  .aboutme-img,
  .aboutme-info {
    width: 100% !important;
  }
  .grid-item--aboutme {
    width: 320px !important;
    padding-top: 0px !important;
    padding-right: 0px;
    padding-left: 0px !important;
    max-width: 100%;
  }
  .grid-item--aboutme .grid-item-content {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 11px;

  }
  .profile-title {
    font-size: 33px;
  }
    .profile-list .title {
      width: 60px;
    }
    .profile-list .cont {
    margin-left: 70px;
    font-size: 13px;
}

  .social ul {
    margin: 15px auto 0 auto;
    padding: 0;
    list-style-type: none;
  }
  .social li {
    display: inline-block;
    margin: 5px 5px 5px 5px !important;
}

.social-footer li {
  display: inline-block;
  margin: 5px 5px 5px 5px !important;
}


  .profile-photo img {
    display: block;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    margin-left: 0;
    width: 100%;
  }
  .footer-box {
    // margin: 100px auto 0;
    width: 320px;
  }
}
/* Smartphones (portrait) ----------- */
@media (max-width: 320px) {
  /* Styles */
  .box {
    margin: 100px auto 0;
    width: 320px;
  }
  .aboutme-img,
  .aboutme-info {
    width: 100% !important;
  }
  .grid-item--aboutme {
    width: 320px !important;
    padding-top: 0px !important;
    padding-right: 0px;
    padding-left: 0px !important;
    max-width: 100%;
  }



  .profile-title {
    font-size: 33px;}
    .profile-list .cont {

    margin-left: 116px;
    font-size: 12px;
  }

  .social li {
    display: inline-block;
    margin: 5px 5px 5px 5px !important;
}

.social-footer li {
  display: inline-block;
  margin: 5px 5px 5px 5px !important;
}

  .social ul {
    margin: 15px auto 0 auto;
    padding: 0;
    list-style-type: none;
  }



  .grid-item--aboutme .grid-item-content {

      padding-left: 0px;}
  .profile-photo img {
    display: block;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    margin-left: 0;
    width: 100%;
  }
  .footer-box {
    // margin: 100px auto 0;
    // width: 320px;
  }
}
/* iPads (portrait and landscape) ----------- */
@media (min-width: 481px) and (max-width: 767px) {
  /* Styles */
  .box {
    margin: 100px auto 0;
    width: 436px;
  }
  .aboutme-img,
  .aboutme-info {
    width: 100% !important;
  }
  .aboutme-img {
    margin-left: 24px;
    margin-bottom: 10px;
  }
  .grid-item--aboutme .grid-item-content {

      padding-left: 0px;}
  .grid-item {
    width: 396px;
  }
  .grid-item img {
    width: 110%;
    margin-left: -20px;
  }
  .grid-item .blogdate {
    width: 105.1%;
    margin-left: -20px;
  }
  .footer-box {
    // margin: 100px auto 0;
    width: 320px;
  }


  .grid-item--aboutme {
    box-shadow: 0 2px 10px;
    padding: 57px 34px 90px;
  }


}
/* iPads (portrait and landscape) ----------- */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  .box {
    margin: 100px auto 0;
    width: 661px;
  }
  .footer-box {
    // margin: 100px auto 0;
    width: 661px;
  }
  .grid-item--aboutme .grid-item-content {
    padding-left: 10px;
}


.profile-list .title {
  width: 60px;
}
.profile-list .cont {
margin-left: 80px;
font-size: 14px;
}



}
/* Desktops and laptops ----------- */
@media (min-width: 1025px) {
  /* Styles */
  .box {
    margin: 100px auto 0;
    width: 1004px;
  }
  .footer-box {
    // margin: 100px auto 0;
    width: 661px;
  }
}
/* footer style begins */




.social-footer {
    list-style: none;
    text-align: center;
    background-color: transparent;
    /* padding: 15px 0; */
    width: 100%;
    /* height: 63px; */
    bottom: 0;
    left: 0;
    position: fixed;
    /* margin-top: 10px !important; */
}

.social-footer ul {
  margin: 15px auto 0 auto;
  padding: 0;
  list-style-type: none;
}


.social-footer li {
    display: inline-block;
    margin: 5px 15px;
}

.social-footer li a {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
    -moz-transition: -moz-transition, background-color 0.25s linear 0s;
    transition: transition, background-color 0.25s linear 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 1.78;
    font-size: 25px;
    color: #fff;
    margin-top: -10px;
    // margin-left: 10px;
}

.social-footer li a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}
/* end of footer style */
