@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,300,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,300,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:900,800&subset=latin,latin-ext);





h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    margin: 0 0 1rem 0;
    padding: 0;
    line-height: 1.1;
}


html {
    font-family: 'Source Code Pro';
    font-size: 15px;
    font-weight: 400;

}



body {

   font-size: 15px;
   font-family: "Source Code Pro";
   font-style: normal;
   font-weight: 400;
}

p {
   font-size: 15px;
   line-height: 25px;
   margin-bottom: 18px;
   font-weight: 400;
}
a{
   color: rgb(80, 155, 255);
   text-decoration: none;
}
a:hover{
   color: rgb(69, 187, 85);
   text-decoration: underline;
}

header{width: 100%;
height: 50px;
margin-bottom: 30px;
position: initial;
// background-color: rgba(38, 38, 38, 1);
// box-shadow: 0px 2px 4px;
padding: 3px;
text-align: right;
text-decoration: blink;
 position: fixed;
 z-index: 111;
     top: 0;

}

header.sticky{background-color: rgba(38, 38, 38, 1);
box-shadow: 0px 2px 4px;

transition: all 0.4s ease;
}

header > span {
    color: #fff;
    margin-right: 15px;
    vertical-align: middle;
   //  box-shadow: 0px 2px 4px black;
    display: inline-flex;
    padding: 12px;
    margin-top: 3.5px;
    text-shadow: 1px 2px 1px black;
   //  background-color: rgba(38, 38, 38, 1);
   font-size: 15px !important;
}
header > span.logo{float:left; margin-left: 0px;
   background-size: 52px auto;
     background-repeat: no-repeat;
  z-index: 999999;
pointer-events: all;}
  header > span.logo a {
      opacity: 1;
      cursor: w-resize;
      height: 28px;
      width: 28px;
      top: 0;
      left: 0;
      font-size: 28px;
      font-weight: bold;
      font-family: sans-serif;
      margin-top: -7.5px;
      pointer-events: all;
  }

  header > span.logo a:hover {
      color: #ededed;
  }
  


header > span:hover {
    color: #fff;
    margin-right: 15px;
    vertical-align: middle;

    display: inline-flex;
    padding: 12px;
    margin-top: 3.5px;
    text-shadow: 1px 2px 1px black;
    transition: 0.2s ease;
    background-color: rgba(0, 0, 0, 0.1)
}
header a{
   text-decoration: none !important;
   color:white;
}

.toggle-stamp-button:hover{color:rgb(69, 187, 85); pointer-events: all;cursor:help;}



















// .doc {
//   margin: 3em 0;
//   font-family: 'Roboto', sans-serif;
//   font-size: 1.1em;
//   font-weight: 300;

//   a {
//     border: 1px solid white;
//     border-radius: 3px;
//     padding: 0.75em 0.7em;
//     color: white;
//     text-decoration: none;
//     transition: color 0.1s linear;
//     &:hover {
//       background: rgba(0,0,0,0.2);
//       color: white;
//       transition: all 0.15s linear;
//     }
//   }
// }

// p {
//   font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
// }
