<footer class="footer-box">
<div class="social-footer">
    <ul>
      <li>
        <a href="https://ch.linkedin.com/in/khalilgharbaoui" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
       <li>
        <a href="https://github.com/khalilgharbaoui" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>
    <li>
        <a href="https://www.google.com/partners/?hl=en-GB#a_profile;idtf=7256334643;" target="_blank">
          <i class="fa fa-google"></i>
        </a>
      </li>
      <li>
        <a href="mailto:khalilgharbaoui@hotmail.com" target="_blank">
          <i class="fa fa-envelope-o"></i>
      </a>
        </li>
      </ul>
    </div>
<!-- <div align="center">
<div class="grid">
  <div class="grid-item grid-item--achievments stamp-NodeJS">
        <a>  <div class="grid-item-content"></div></a>
      </div>
      <div class="grid-item grid-item--achievments stamp-ReactJS">
          <a>  <div class="grid-item-content"></div></a>
      </div>
      <div class="grid-item grid-item--achievments stamp-Ruby">
          <a>  <div class="grid-item-content"></div></a>
      </div>
      <div class="grid-item grid-item--achievments stamp-Ruby-on-rails">
        <a><div class="grid-item-content"></div></a>
      </div>
      <div class="grid-item grid-item--achievments stamp-Google-Partner-Badge">
        <a href="https://www.google.com/partners/?hl=en-GB#a_profile;idtf=7256334643;" target="_blank"><div class="grid-item-content"></div></a>
      </div>

  </div>
    <br/>

    <div class="grid">
      <div class="grid-item grid-item--foot">
        <div class="grid-item-footer-content">
          <h2>Tags</h2>
          <ul id="cloud">
            <% blog.tags.each do |tag, articles| %>
            <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag), class: "tag#{articles.size}"  %></li>
            <% end %>
             ARRARNAME.each_with_object(Hash.new(0)) { |tag, count| count[tag] += 1 }
          </ul>
        </div>
      </div>
      <div class="grid-item grid-item--foot">
        <div class="grid-item-footer-content">
          <h2>By Year</h2>
          <ul id="cloud">
            <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="grid-item stampcopy">
        <div class="grid-item-content">
          <p style="margin-top: -6.5;">©2016 Khalil Gharbaoui</p>
        </div>
      </div>
    </div>
    <br />
</div> -->
</footer>
