<footer class="footer-box">
<div class="social-footer">
    <ul>
      <li>
        <a href="https://ch.linkedin.com/in/khalilgharbaoui" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
       <li>
        <a href="https://github.com/khalilgharbaoui" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>
    <li>
        <a href="https://www.google.com/partners/?hl=en-GB#a_profile;idtf=7256334643;" target="_blank">
          <i class="fa fa-google"></i>
        </a>
      </li>
      <li>
        <a href="mailto:khalilgharbaoui@hotmail.com" target="_blank">
          <i class="fa fa-envelope-o"></i>
      </a>
        </li>
      </ul>
    </div>
</footer>
