<header>
<span class="logo"><a href="/">KG</a></span>
<span id="about-me-button" class="toggle-stamp-button">about me</span>
<span id="my-work-button"><a href="/my-work/">my work</a></span>
<span id="blog-button"><a href="/blog/">blog</a></span>
<span id="back-button"><a href="javascript:history.back()">Back</a></span>
</header>
