<header>
<span class="logo big-menu"><a href="/">KG</a></span>
<span id="about-me-button" class="toggle-stamp-button big-menu">about me</span>
<span id="my-work-button" class="big-menu"><a href="/my-work/">my work</a></span>
<span id="resume-button" class="big-menu"><a href="/resume/">resume</a></span>
<span id="blog-button" class="big-menu"><a href="/blog/">blog</a></span>
<span id="contact-button" class="big-menu"><a href="/contact/">contact</a></span>
<span id="back-button" class="big-menu"><a href="javascript:history.back()">Back</a></span>

<nav id="nav-mobile">
    <span class="logo"><a href="/">KG</a></span>
    <span id="about-me-button" class="toggle-stamp-button">about me</span>
    <span id="my-work-button"><a href="/my-work/">my work</a></span>
    <span id="resume-button"><a href="/resume/">resume</a></span>
    <span id="blog-button"><a href="/blog/">blog</a></span>
    <span id="contact-button"><a href="/contact/">contact</a></span>
    <span id="back-button"><a href="javascript:history.back()">Back</a></span>
</nav>
</header>
