<header>
  <span class="logo"><a href="/">KG</a></span><span class="toggle-stamp-button">about me</span><span><a href="/my-work">my work</a></span><span><a href="/blog">blog</a></span><span><a href="/contact-me">contact</a></span>
</header>
