---
title: about me
---

<style>

  .navi {
    z-index: 10;
  }

  body {
    background: #0077B5!important;
    transition: 1500ms ease-in;
}
  .grid-item {
    background-color: #fff!important;
  }
  p {
    color: #000;
  }
  h1,
  h2 {
    color: #474747;
  }
  .box {
    background: none !important;
    padding: 0 !important;
    box-shadow: 0 0 0 !important;
    z-index: 0 !important;
    position: inherit;
    /*margin-bottom: auto !important;*/
    pointer-events: none;
  }

</style>
<div id="background" style="background-color:black; height:37%; width:100%;position:absolute;top:0;left:0;">
</div>
</div>
<div class="blog box">
  <div class="grid" id="bloggrid">

    <div class="grid-item--aboutme stamp">
      <div class="grid-item-content">
        <div class="aboutme-img">
          <div class="profile-photo">
            <img src="../images/Khalil-Gharbaoui.png"/>
            <!-- <img src="https://avatars2.githubusercontent.com/u/8024057?v=3&s=460"/> -->
          </div>
        </div>
        <div class="aboutme-info">
          <div class="profile-info">
            <div class="profile-preword">
              <span>Hello</span>
            </div>
            <h1 class="profile-title">
              <span>I'm</span>
              Khalil Gharbaoui</h1>
            <h2 class="profile-position">Junior Developer | Web Designer | Digital Marketeer.</h2>
          </div>
          <ul class="profile-list">
            <li class="clearfix">
              <strong class="title">Age</strong>
              <span class="cont">32</span>
            </li>
            <li class="clearfix">
              <strong class="title">E-mail</strong>
              <span class="cont">khalilgharbaoui@hotmail.com</span>
            </li>
            <li class="clearfix">
              <strong class="title">Phone</strong>
              <span class="cont">+31 6 16 660 264</span>
            </li>
          </ul>
          <p>After years of web-designing using HTML5/CSS3, WordPress and third-party applications, I decided to rise up to a new challenge: <strong>Web Development, Coding & Developing in multiple languages.</strong> I have always seen my self as a problem solver and I'm very curious in nature especially when it comes to digital things♡.</p>
          <p><strong>I've attended a solid traineeship and i'm quite good with Ruby and Ruby on Rails, JavaScript and jQuery, AJAX, ReactJS, NodeJS, all kinds of SQL and NoSQL Databases, Testing and afcourse Github + CI.</stong></p>
          <p>Creating tought trough Front-ends or UI/UX, and reliable RESTful APIs or back-ends is what interests me the most.</p>
        </div>

          <p><i>Contact me, see <a href="/my-work">my work</a> or read about my findings and experiences here on my developer blog.</i></p>
      </div>

        <div class="social">
          <ul>
              <li>
                <a href="https://ch.linkedin.com/in/khalilgharbaoui" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
               <li>
                <a href="https://github.com/khalilgharbaoui" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            <li>
                <a href="https://www.google.com/partners/?hl=en-GB#a_profile;idtf=7256334643;" target="_blank">
                  <i class="fa fa-google"></i>
                </a>
              </li>
              <li>
                <a href="mailto:khalilgharbaoui@hotmail.com" target="_blank">
                  <i class="fa fa-envelope-o"></i>
              </a>
                </li>
              </ul>
            </div>
        </div>

    </div>
</div>
