---
title: Gear Invasion
---
<link rel="stylesheet" href="../demos/gear-invasion/base.css" type="text/css" />



<div id='container'>
  <canvas id='game' width='320' height='320'></canvas>
</div>
<br />
<center>
<p style="color:#fff; font-size:18px;">Use Left key + Right key & Spacebar to shoot.</p>
<br />
<img src="../images/gear-invasion-samsung.png" />
</center>


<script src='../demos/gearinvasion/engine.js'></script>
<script src='../demos/gearinvasion/game.js'></script>
