---
title: Welcome to Khalil Gharbaoui's Developer Blog!
meta:
tags:
category:
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "Khalil-Gharbaoui-Blog.png" %>
  </div>

  <p class="doc">
    <!-- <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %> -->
  </p><!-- .doc -->
</div><!-- .welcome -->
<h1 class="slogan" id="slogan">To create... I am Khalil Gharbaoui, welcome to my developer blog.</h1>
</br>
</br>


<%= link_to "<div id='readit' class='button-container readit'>
  <div class='button -white center'>Check it!</div>
</div>", "/blog.html", target: "_self", class: "readit", id: "readit" %>
