---
title: Welcome to Khalil Gharbaoui's Developer Blog!
meta:
tags:
category:
---


<div class="welcome">
  <div class="logo">
    <%= image_tag "Khalil-Gharbaoui-Blog-Intro.png" %>
  </div>
  <h1 class="slogan" id="slogan">To create... I am Khalil Gharbaoui, welcome to my developer blog.</h1>
  <%= link_to "<div id='readit' class='button-container readit'>
    <div class='button -white center'>Check it!</div>
  </div>", "/blog.html", target: "_self", class: "readit", id: "readit" %>
</div><!-- .welcome -->
