---
title: Welcome to Khalil Gharbaoui's Developer Blog!
meta:
tags:
category:
---

<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
body {
  background: #ec2b27;
  /*// text-align: left;
  // font-family: 'Source Code Pro', ;

  // font-size: 1em;
  // text-decoration: none;*/
}
h1 {font-family: 'Roboto';
font-size:36px;}
 footer{display: none;}

 a:hover{text-decoration: none !important;}

 .box {
    background: none !important;
    padding: 0px !important;
    box-shadow: 0 0px 0px !important;
    z-index: 0 !important;
      position:inherit;
      margin-bottom: auto !important;

}

 </style>
<div class="welcome" style="text-align:center; position:relative; z-index:100;">
  <div class="logo">
    <%= image_tag "Khalil-Gharbaoui-codez-it.png" %>
  </div>
  <h1 class="slogan" id="slogan">Welcome to my developer blog, I am Khalil Gharbaoui.</h1>
  <%= link_to "<div id='readit' class='button-container readit'>
    <div class='button -white center'>Check it!</div>
  </div>", "/blog.html", target: "_self", class: "readit", id: "readit" %>
</div><!-- .welcome -->
