---
title: Mario Frog King!
---
<link rel="stylesheet" href="../../demos/mario-frog-king/css/style.css" />

<script type="text/javascript" src="../../demos/mario-frog-king/js/phaser113.min.js"></script>
  <script type="text/javascript" src="../../demos/mario-frog-king/js/load.js"></script>
  <script type="text/javascript" src="../../demos/mario-frog-king/js/menu.js"></script>
  <script type="text/javascript" src="../../demos/mario-frog-king/js/play.js"></script>
  <script type="text/javascript" src="../../demos/mario-frog-king/js/dead.js"></script>
  <script type="text/javascript" src="../../demos/mario-frog-king/js/game.js"></script>

<br />
<center>
<div id="gameContainer"></div>
<br />

<p style="color:#fff; font-size:18px;">It's not hard he jumps, jumps and jumps some more.<br />You just have click or use the left key or right key to point him in the right direction!</p>
</center>
