---
title: my work
---
<style>

  .navi {
    z-index: 10;
  }

  body {
    background: #0077B5!important;
    transition: 1500ms ease-in;
}

  p {
    color: #000;
  }
  h1,
  h2 {
    color: #474747;
  }
  .box {
    background: none !important;
    padding: 0 !important;
    box-shadow: 0 0 0 !important;
    z-index: 0 !important;
    position: inherit;
    /*margin-bottom: auto !important;*/
    pointer-events: all;

  }
  .grid-item {

    box-shadow: none !important;


  }


}


</style>
<div id="background" style="background-color:black; height:37%; width:100%;position:absolute;top:0;left:0;">
</div>
</div>
<div class="blog box">
  <div class="grid" id="bloggrid">

    <div class="grid-item--aboutme stamp hidden">
      <div class="grid-item-content">
        <div class="aboutme-img">
          <div class="profile-photo">
            <img src="../images/Khalil-Gharbaoui-with-a-smile-on-his-face.png"/>
            <!-- <img src="https://avatars2.githubusercontent.com/u/8024057?v=3&s=460"/> -->
          </div>

        </div>
        <div class="aboutme-info">
          <div class="profile-info">
            <div class="profile-preword">
              <span>Hello</span>
            </div>
            <h1 class="profile-title">
              <span>I'm</span>
              Khalil Gharbaoui</h1>
            <h2 class="profile-position">Junior Developer | Web Designer | Digital Marketeer.</h2>
          </div>
          <ul class="profile-list">
            <li class="clearfix">
              <strong class="title">Age</strong>
              <span class="cont">32</span>
            </li>
            <li class="clearfix">
              <strong class="title">E-mail</strong>
              <span class="cont">khalilgharbaoui@hotmail.com</span>
            </li>
            <li class="clearfix">
              <strong class="title">Phone</strong>
              <span class="cont">+31 6 16 660 264</span>
            </li>
          </ul>
          <p>After years of web-designing using HTML5/CSS3, WordPress and third-party applications, I decided to rise up to a new challenge:
            <strong>Web Development, Coding & Developing in multiple languages.</strong>
            I have always seen myself as a problem solver and I'm very curious in nature especially when it comes to digital things♡.</p>
          <p>
            <strong>I've attended a solid traineeship and I'm comfortable with Ruby and Ruby on Rails, JavaScript and jQuery, AJAX, ReactJS, NodeJS, all kinds of SQL and NoSQL Databases, Testing and afcourse Github + CI.</stong>
          </p>
          <p>Creating tought trough Front-ends or UI/UX, and reliable RESTful APIs or back-ends is what interests me the most.</p>
        </div>
        <p>
          <strong>I'm currently looking for a job as a Junior Developer!"</strong>
        </p>
        <p>
          <i>Contact me, see
            <a href="/my-work">my work</a>
            or read about my findings and experiences here on my developer blog.</i>
        </p>
      </div>
        <div class="social">
          <ul>
              <li>
                <a href="https://ch.linkedin.com/in/khalilgharbaoui" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
               <li>
                <a href="https://github.com/khalilgharbaoui" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            <li>
                <a href="https://www.google.com/partners/?hl=en-GB#a_profile;idtf=7256334643;" target="_blank">
                  <i class="fa fa-google"></i>
                </a>
              </li>
              <li>
                <a href="mailto:khalilgharbaoui@hotmail.com" target="_blank">
                  <i class="fa fa-envelope-o"></i>
              </a>
                </li>
              </ul>
            </div>
        </div>
<!-- <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'> -->
<div class="grid-item grid-item-large flip-it">
  <div class="flipcard">
    <div class="flipcard-front" id="portfolio-1">
      <div id="overlay">
        <span id="portfolio-content">
          <h1>Codeschool Reviews</h1>
          <p>I've build this code school review application on my own as a homework assignment during my developer traineeship at Codaisseur. The purpose of this project was to exercise all the aquired skills befor the final week.
          </p>
          <h2>Flip this card for more information!</h2>
        </span>
      </div>
    </div>
    <div class="flipcard-back">
      <div id="portfolio-content">
      <p><span><a href="https://github.com/khalilgharbaoui" target="_blank"><i class="fa fa-external-link"></i>demo</a></span><span><a href="https://github.com/khalilgharbaoui" target="_blank"><i class="fa fa-github"></i>back-end</a></span><span><a href="https://github.com/khalilgharbaoui" target="_blank"><i class="fa fa-github"></i>front-end</a></span></p>
      <h2>Frameworks & Languages used:</h2>

Ruby, Ruby on Rails, ReactJS, JavaScript, HTML5/CSS3, JSON, jQuery, AJAX, Bootstrap, CORS, Puma HTTP 1.1 server


    </div>
    </div>
  </div>
</div>

<div class="grid-item grid-item-large flip-it">

                  <div class="flipcard">
                      <div class="flipcard-front" id="portfolio-2">


                      </div>
                      <div class="flipcard-back">

                               <h2>back</h2>



                      </div>
                  </div>

</div>
<div class="grid-item grid-item-large flip-it">

                  <div class="flipcard">
                      <div class="flipcard-front" id="portfolio-3">

                               <h2>front</h2>


                      </div>
                      <div class="flipcard-back">

                               <h2>back</h2>



                      </div>
                  </div>

</div>
<div class="grid-item grid-item-large flip-it">

                  <div class="flipcard">
                      <div class="flipcard-front" id="portfolio-4">

                               <h2>front</h2>


                      </div>
                      <div class="flipcard-back">

                               <h2>back</h2>

                               <a href="http://google.com">link</a>


                      </div>
                  </div>

</div>
    </div>


    <br/>
      <br/>
        <br/>
    </div>
