---
title: my work
---
<style>
.navi {
    z-index: 10;
}
  body {
    background: #0077B5!important;
    transition: 1500ms ease-in;
  }

  p {
    color: #000;
  }
  h1,
  h2 {
    color: #474747;
  }
  .box {
    background: none !important;
    padding: 0 !important;
    box-shadow: 0 0 0 !important;
    z-index: 0 !important;
    position: inherit;
    /*margin-bottom: auto !important;*/
    pointer-events: all;

  }
  .grid-item {

    box-shadow: none !important;
  }
}
</style>
<div id="background" style="background-color:black; height:37%; width:100%;position:absolute;top:0;left:0;"></div>
</div>
<div class="blog box">
<div class="grid" id="bloggrid">
  <div class="grid-item--aboutme stamp hidden">
    <div class="grid-item-content">
      <div class="aboutme-img">
        <div class="profile-photo">
          <img src="../images/Khalil-Gharbaoui-with-a-smile-on-his-face.png"/>
          <!-- <img src="https://avatars2.githubusercontent.com/u/8024057?v=3&s=460"/> -->
        </div>
      </div>
      <div class="aboutme-info">
        <div class="profile-info">
          <div class="profile-preword">
            <span>Hello</span>
          </div>
          <h1 class="profile-title">
            <span>I'm</span>
            Khalil Gharbaoui</h1>
          <h2 class="profile-position">Junior Developer | Web Designer | Digital Marketeer.</h2>
        </div>
        <ul class="profile-list">
          <li class="clearfix">
            <strong class="title">Age</strong>
            <span class="cont">32</span>
          </li>
          <li class="clearfix">
            <strong class="title">E-mail</strong>
            <span class="cont">khalilgharbaoui@hotmail.com</span>
          </li>
          <li class="clearfix">
            <strong class="title">Phone</strong>
            <span class="cont">+31 6 16 660 264</span>
          </li>
        </ul>
        <p>After years of web-designing using HTML5/CSS3, WordPress and third-party applications, I decided to rise up to a new challenge:
          <strong>Web Development, Coding & Developing in multiple languages.</strong>
          I have always seen myself as a problem solver and I'm very curious in nature especially when it comes to digital things♡.</p>
        <p>
          <strong>I've attended a solid traineeship and I'm comfortable with Ruby and Ruby on Rails, JavaScript and jQuery, AJAX, ReactJS, NodeJS, all kinds of SQL and NoSQL Databases, Testing and afcourse Github + CI.</stong>
        </p>
        <p>Creating tought trough Front-ends or UI/UX, and reliable RESTful APIs or back-ends is what interests me the most.</p>
      </div>
      <p>
        <strong>I'm currently looking for a job as a Junior Developer!"</strong>
      </p>
      <p>
        <i>Contact me, see
          <a href="/my-work">my work</a>
          or read about my findings and experiences here on my developer blog.</i>
      </p>
    </div>
    <div class="social">
      <ul>
        <li>
          <a href="https://ch.linkedin.com/in/khalilgharbaoui" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/khalilgharbaoui" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.google.com/partners/?hl=en-GB#a_profile;idtf=7256334643;" target="_blank">
            <i class="fa fa-google"></i>
          </a>
        </li>
        <li>
          <a href="mailto:khalilgharbaoui@hotmail.com" target="_blank">
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'> -->
  <div class="grid-item grid-item-large flip-it">
    <div class="flipcard">
      <div class="flipcard-front" id="portfolio-1">
        <div id="overlay">
          <span id="portfolio-content">
            <h1>Codeschool Reviews</h1>
            <p>I've build this code school review application on my own as a homework assignment during my developer traineeship at Codaisseur. The purpose of this project was to exercise all the aquired skills befor the final week.
            </p>
            <h2>Flip this card for more information!</h2>
          </span>
        </div>
      </div>
      <div class="flipcard-back">
        <div id="portfolio-content">
          <h1>Codeschool Reviews</h1>
          <p>
            <span>
              <a href="http://codeschoolreviews.bitballoon.com" target="_blank">
                <i class="fa fa-external-link"></i>demo</a>
            </span>
            <span>
              <a href="https://github.com/khalilgharbaoui/code-school-reviews-back-end-api" target="_blank">
                <i class="fa fa-github"></i>back-end</a>
            </span>
            <span>
              <a href="https://github.com/khalilgharbaoui/code-school-reviews-front-end" target="_blank">
                <i class="fa fa-github"></i>front-end</a>
            </span>
          </p>
          <h2>Frameworks & Languages used:</h2>
          <p>Ruby, Ruby on Rails, ReactJS, NodeJS, JavaScript, HTML5/CSS3, JSON, jQuery, AJAX, Bootstrap, CORS, Puma HTTP 1.1 server, Rspec, CI</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item grid-item-large flip-it">
    <div class="flipcard">
      <div class="flipcard-front" id="portfolio-2">
        <div id="overlay">
          <span id="portfolio-content">
            <h1>Check Task Manager!</h1>
            <p>A Project Management tool with a RESTful API back-end in Rails using JSON & a ReactJS front-end. I've worked on this project in a team of 4, in the 4th week of my developer traineeship.
            </p>
            <h2>Flip this card for more information!</h2>
          </span>
        </div>
      </div>
      <div class="flipcard-back">
        <div id="portfolio-content">
          <h1>Check Task Manager!</h1>
          <p>
            <span>
              <a href="checktaskmanager.bitballoon.com" target="_blank">
                <i class="fa fa-external-link"></i>demo</a>
            </span>
            <span>
              <a href="https://github.com/khalilgharbaoui/check-taskmanager-back-end-api" target="_blank">
                <i class="fa fa-github"></i>back-end</a>
            </span>
            <span>
              <a href="https://github.com/khalilgharbaoui/check-taskmanager-front-end" target="_blank">
                <i class="fa fa-github"></i>front-end</a>
            </span>
          </p>
          <h2>Frameworks & Languages used:</h2>
          <p>Ruby, Ruby on Rails, ReactJS, NodeJS, JavaScript, HTML5/CSS3, JSON, jQuery, AJAX, Bootstrap, CORS, Puma HTTP 1.1 server, Rspec, CI</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item grid-item-large flip-it">
    <div class="flipcard">
      <div class="flipcard-front" id="portfolio-3">
        <div id="overlay">
          <span id="portfolio-content">
            <h1>CatChat!</h1>
            <p>CatChat Application has a ReactJS Front-end, connected to a FeathersJS / SocketIO / ExpressJS, Back-end API that uses MongoDB. I created this app during my traineeship to get familiar with diffrent kinds of frameworks.</p>
            <h2>Flip this card for more information!</h2>
          </span>
        </div>
      </div>
      <div class="flipcard-back">
        <div id="portfolio-content">
          <h1>CatChat! app</h1>
          <p>
            <span>
              <a href="https://github.com/khalilgharbaoui/catchat-feathers-js-mongo-db-api-back-end" target="_blank">
                <i class="fa fa-github"></i>back-end</a>
            </span>
            <span>
              <a href="https://github.com/khalilgharbaoui/catchat-react-js-front-end" target="_blank">
                <i class="fa fa-github"></i>front-end</a>
            </span>
          </p>
          <h2>Frameworks & Languages used:</h2>
          <p>ReactJS, FeathersJS, SocketIO, MongoDB</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item grid-item-large flip-it">
    <div class="flipcard">
      <div class="flipcard-front" id="portfolio-4">
        <div id="overlay">
          <span id="portfolio-content">
            <h1>
              <i class="fa fa-music"></i>usic Liby</h1>
            <p>I've made this music database as a homework assignment after the 2de week of my traineeship. The main objective was to learn the basics of Ruby on Rails and
              <a href="https://en.wikipedia.org/wiki/Create,_read,_update_and_delete">CRUD</a>, User Authentication & File Upload.</p>
            <h2>Flip this card for more information!</h2>
          </span>
        </div>
      </div>
      <div class="flipcard-back">
        <div id="portfolio-content">
          <h1>
            <i class="fa fa-music"></i>usic Liby</h1>
          <p>
            <span>
              <a href="http://music-liby.herokuapp.com" target="_blank">
                <i class="fa fa-external-link"></i>demo</a>
            </span>
            <span>
              <a href="https://github.com/khalilgharbaoui/music-database-ruby-on-rails" target="_blank">
                <i class="fa fa-github"></i>back-end</a>
            </span>
          </p>
          <h2>Frameworks & Languages used:</h2>

          <p>Ruby, Ruby on Rails, Devise (User Authentication), CarrierWave (File Upload), HTML5/CSS3, Materialize CSS, Puma HTTP 1.1 server, Rspec, CI.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item blog box">
    <div class="grid-item-heading"><h1>Hackatons  &  Experiments</h1></div>
</div>
<div class="grid-item grid-item-large flip-it">
    <div class="flipcard">
      <div class="flipcard-front" id="portfolio-5">
        <div id="overlay">
          <span id="portfolio-content">
            <h1>The Best Of Everything!</h1>
            <p>A Hackaton project made in the final week of my traineeship at Codaisseur. Connecting to as much Public API's as possible... The idea was to create an app providing an overview of the best movies, music and trending tweets with a simple push of a button.</p>
            <h2>Flip this card for more information!</h2>
          </span>
        </div>
      </div>
      <div class="flipcard-back">
        <div id="portfolio-content">
          <h1>
            The Best Of Everything!
          </h1>
          <p>
            <span>
              <a href="http://thebestofeverything.bitballoon.com" target="_blank">
                <i class="fa fa-external-link"></i>demo</a>
            </span>
            <span>
              <a href="https://github.com/khalilgharbaoui/the-best-of-everything" target="_blank">
                <i class="fa fa-github"></i>front-end</a>
            </span>
          </p>
          <h2>Frameworks & Languages used:</h2>
          <p>
HTML, CSS, ReactJS, JavaScript, jQuery, AJAX, JSON, SoundCloud Public API, The Movie Database Public  API.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item grid-item-large flip-it">
    <div class="flipcard">
      <div class="flipcard-front" id="portfolio-6">
        <div id="overlay">
          <span id="portfolio-content">
            <h1>Rubber Duck Puzzle!</h1>
            <p>I created this Rubber Duck Puzzle as an experiment, While practicing my skills and understanding the impact of using multiple open-source JavaScript libraries combined.</p>
            <h2>Flip this card for more information!</h2>
          </span>
        </div>
      </div>
      <div class="flipcard-back">
        <div id="portfolio-content">
          <h1>Rubber Duck Puzzle!</h1>
          <p>
            <span>
              <a href="http://rubber-duck-puzzle.bitballoon.com" target="_blank">
                <i class="fa fa-external-link"></i>demo</a>
            </span>
            <span>
              <a href="https://github.com/khalilgharbaoui/rubber-duck-puzzle" target="_blank">
                <i class="fa fa-github"></i>front-end</a>
            </span>
          </p>
          <h2>Frameworks & Languages used:</h2>
          <p>
            HTML, CSS, JavaScript, jQuery, PackeryJS, DraggabillyJS</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
</div>
